<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIjhtpb4ig0jc3i7rs4998LhsYGN5BQXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>157507330601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMedicalApp</string>
	<key>PROJECT_ID</key>
	<string>medicalapp-5969e</string>
	<key>STORAGE_BUCKET</key>
	<string>medicalapp-5969e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157507330601:ios:0f5ea497f33c284b34b238</string>
</dict>
</plist>